<?xml version="1.0" encoding="UTF-8"?>
<phpunit cacheResult="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        >
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist>
            <directory>./src/</directory>

            <exclude>
                <file>./src/Context/Context.php</file>
                <file>./src/Context/EmptyContext.php</file>
                <file>./src/Provider.php</file>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Optimus\LaravelBoilerplate Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>